<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Bulma CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Home Page</title>
</head>

<body>

  <%- include('partials/_header'); %>

    <!-- Check if current User is admin, then give access to admin features -->
    <% if (currentUser.is_admin) { %>
      <main style="margin: 1em;">
        <h3 class="title is-3">Admin</h3>
        <table class="table">
          <div class="wrapper">
            <div class="main">
              <thead>
                <tr>
                  <th scope="col">Photo</th>
                  <th scope="col">Product</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Mark Item</th>
                </tr>
              </thead>

              <tbody>
                <% for(let product of products) { %>
                  <tr>
                    <td> <img src=<%=product.thumbnail_url %> width="200" height="200" > </td>
                    <td><a href="/products/<%= product.id %> ">
                        <%= product.title %></a></td>
                    <td>
                      <!-- DELETE form -->
                      <form class="form-inline" action="/admin/delete" method="POST">
                        <input name="product_id" value="<%=product.id%>" type="hidden">
                        <button type="submit" class="btn btn-primary">Delete</button>
                      </form>
                    </td>
                    <td>
                      <form class="form-inline" action="/admin/active" method="POST">
                        <input name="product_id" value="<%=product.id%>" type="hidden">

                       <!-- If product is not active, mark as SOLD -->
                        <% if (product.active) { %>
                          <button style="background-color: green;" type="submit" class="btn btn-primary">Sold</button>
                          <% } %>
                      </form>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
        </table>
        <% } %>
          </div>
          </div>

          <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>SnowShop</strong> by <a>Andre Moura, Eli Colussi and Jorge Vera</a>.
                <a>Copyright @ 2023 All Rights Reserved</a>.
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </p>
            </div>
          </footer>
  </body>
