<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/homePage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-container">
      <div class="jumbotron-container_image">
      </div>
      <div class="jumbotron-container_content">
        <h1 class="display-4">It's Time to Shred</h1>
        <p class="lead">Get a Snowboard for any occasion.</p>
      </div>
    </div>
  </div>


  <div class="index-container">

    <h2 class="all-shoe-title">Featured Releases</h3>
      <div class="featured_sneakers">
        <% for (let product of products) { %>
          <% if(product.feature) { %>
            <div class="card">
              <img class="card-img-top" src="<%= product.thumbnail_photo %>" alt="Card image cap">
              <% if (!product.active) { %>
                <div class="sold-banner">SOLD</div>
                <% } %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= product.title %>
                    </h5>
                    <p class="card-text"> $<%= product.price%>
                    </p>
                    <a href="http://localhost:8080/products/<%=product.id%>" class="btn btn-dark">See Product</a>
                  </div>
            </div>
            <% } %>
              <% } %>
      </div>

      <div class="index-container">
        <h3>All boards</h3>
        <div class="all_snowboards">
          <% for (let product of products) { %>
            <div class="card">
              <img class="card-img-top shoe_image" src="<%= product.thumbnail_photo %>" alt="Card image cap">
              <% if (!product.active) { %>
                <div class="sold-banner">SOLD</div>
                <% } %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= product.title %>
                    </h5>
                    <p class="card-text"> $<%= product.price%>
                    </p>
                    <a href="http://localhost:8080/products/<%=product.id%>" class="btn btn-dark">See Product</a>
                  </div>
            </div>
            <% } %>
</body>

</html>
