<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div style="text-align: center; background-color: rgba(198, 193, 193, 0.21); padding: 20px 0px; margin-bottom: 40px;">
    <h1 style="font-weight: bold; text-transform: uppercase;">It's Time to Shred</h1>
    <h5 class="title is-5">Get a Snowboard for any occasion.</h5>
  </div>


  <!-- <div class="wrapper"> -->
    <div class="index-container">
      <h4 class="title is-4">Featured Releases</h4>
      <div class="all_snowboards">
      <% for (let product of products) { %>
        <% if(product.feature) { %>
          <div class="card" style="width: 22%; margin-bottom: 50px; text-align: center;">
            <div style="position: relative; display: inline-block; height: 250px;">
              <img class="h-100" src="<%= product.thumbnail_url %>" alt="Card image cap">
              <% if (!product.active) { %>
                <div class=""style="position: absolute; top: 40%; left: 0; width: 100%; opacity: 0.7; background-color: red; color: white; padding: 5px; font-size: 16px; font-weight: bold;">SOLD</div>
                <% } %>
            </div>
            <div class="card-body">
              <h6 class="title is-6" style="height: 30px;">
                <%= product.title %>
              </h6>
              <p style="padding-bottom: 10px; font-weight: bold; color: darkslategray;"><i> $<%= product.price%></i> </p>
              <a href="http://localhost:8080/products/<%=product.id%>" class="button is-info is-focused">See Product</a>
            </div>
          </div>
          <% } %>
          <% } %>
    </div>
  </div>


        <div class="index-container">
          <h4 class="title is-4">All boards</h4>
          <div class="all_snowboards">
            <% for (let product of products) { %>
              <div class="card" style="width: 22%; margin-bottom: 50px;">
                <div style="position: relative; display: inline-block; height: 250px;">
                  <img class="h-100" src="<%= product.thumbnail_url %>" alt="Card image cap">
                  <% if (!product.active) { %>
                    <div
                      style="position: absolute; top: 40%; left: 0; width: 100%; opacity: 0.7; background-color: red; color: white; padding: 5px; font-size: 16px;">
                      SOLD
                    </div>
                    <% } %>
                </div>
                <div class="card-body">
                  <h6 class="title is-6" style="height: 40px;">
                    <%= product.title %>
                  </h6>
                  <p style="padding-bottom: 10px; font-weight: bold; color: darkslategray;">
                    <i> $<%= product.price%></i>
                  </p>
                  <a href="http://localhost:8080/products/<%=product.id%>" class="button is-info is-focused">See
                    Product
                  </a>
                </div>
              </div>
              <% } %>
          </div>
        </div>

  </div>


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>SnowShop</strong> by <a>Andre Moura, Eli Colussi and Jorge Vera</a>.
        <a>Copyright @ 2023 All Rights Reserved</a>.
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </p>
    </div>
  </footer>


</body>

</html>
