<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Bulma CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>Search</title>
</head>

<body>
  <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3 class="search-title">Search for a product</h3>
      <div class="search-form">
        <form method="GET" action="/search">
          <div class="row">
            <div class="col">
              <input type="number" class="form-control" placeholder="$ Min Price" name="minPrice">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="$ Max Price" name="maxPrice">
            </div>
            <button class="btn btn-dark" type="submit">Filter</button>
          </div>
        </form>
      </div>
      <div class="board-filter">
        <% for (let product of products) { %>
          <div class="card" style="background-color: white !important; margin-bottom: 10px; margin-top: 15px; padding: 10px;">
            <div style="display: flex; flex-direction: row; ">
              <div style="display: flex; flex-direction: column; width: 250px">
                <img class="h-75" src="<%= product.thumbnail_url %>" width="245px" height="245px" alt="Card image cap">
                <!-- If product is not active, mark as SOLD -->
                <% if (!product.active) { %>
                  <div class="" style="text-align: center; font-weight: bold; padding: 4px; background-color: red; color: white;">SOLD</div>
                  <% } %>
              </div>
              <div style="width: 70%; padding-left: 10px;">
                <h4 class="card-title" style="font-weight: bold; font-size: 20px;">
                  <%= product.title %>
                </h4>
                <p class="card-text" style="height: 85px;">
                  <%= product.description %>
                </p>
                <p class="card-text" style="font-weight: bold; margin: 5px 0px ;"> $<%= product.price%>
                </p>
                <div style="margin-top: 10px;">
                  <a href="http://localhost:8080/products/<%=product.id%>" class="button is-info is-focused">See
                    Product</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <% } %>
        </div>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>SnowShop</strong> by <a>Andre Moura, Eli Colussi and Jorge Vera</a>.
          <a>Copyright @ 2023 All Rights Reserved</a>.
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </p>
      </div>
    </footer>
</body>
</html>
